@font-face {
    font-family: Coming Sans;
    src: url('../../assets/comingsans.ttf');
  }
    
  .landing-container {
    flex-grow: 1;
    position: relative;
    background-color: var(--primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
  }
    
  .landing-container > h1 {
    color: #fff;
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 20px;
    font-family: 'Coming Sans', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 2px 2px #7777;
  }
  
  .landing-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    text-shadow: 2px 2px #7777;
  }
  
  .landing-btns {
    margin-top: 32px;
    padding-bottom: 20px;
    text-align: center;
  }
    
  .landing-btns .btn {
    margin: 6px;
  }
    
  .fa-play-circle {
    margin-left: 4px;
  }
    
  @media screen and (max-width: 960px) {
    .landing-container > h1 {
      font-size: 70px;
    }
  }
    
  @media screen and (max-width: 768px) {
    .landing-container > h1 {
      font-size: 50px;
    }
  
    .landing-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 80%;
    }
  }

.template-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding-bottom: 100px;
}

.template-container > h1 {
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    font-family: 'Coming Sans', sans-serif;
    letter-spacing: 3px;
    font-weight: 300;
    text-align: center;
    text-shadow: 2px 2px #7777;
  }
  
  .template-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    text-shadow: 2px 2px #7777;
  }
  
  .template-btns {
    margin-top: 32px;
  }
    
  .template-btns .btn {
    margin: 6px;
  }
    
  .fa-play-circle {
    margin-left: 4px;
  }
    
  @media screen and (max-width: 960px) {
    .template-container > h1 {
      font-size: 70px;
    }
  }
    
  @media screen and (max-width: 768px) {
    .template-container > h1 {
      font-size: 50px;
    }
  
    .template-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 80%;
    }
  }

  .template-orange {
    background-color: var(--orange);
  }

  .template-yellow {
    background-color: var(--yellow);
  }

  .template-green {
    background-color: var(--green);
  }

  .template-blue {
    background-color: var(--blue);
  }

  .template-purple {
    background-color: var(--purple);
  }

.shape-divider {
    margin-top: -1px;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    min-height: 20px;
    flex-shrink: 0;
    margin-bottom: -1px;
}

.shape-divider svg {
    position: relative;
    display: block;
}

.tsd-primary .shape-fill {
    fill: var(--primary);
}

.tsd-primary {
    background-color: var(--orange);
}

.tsd-orange .shape-fill {
    fill: var(--orange);
}

.tsd-orange {
    background-color: var(--yellow);
}

.tsd-yellow .shape-fill {
    fill: var(--yellow);
}

.tsd-yellow {
    background-color: var(--green);
}

.tsd-green .shape-fill {
    fill: var(--green);
}

.tsd-green {
    background-color: var(--blue);
}
.tsd-blue .shape-fill {
    fill: var(--blue);
}

.tsd-blue {
    background-color: var(--purple);
}

.tsd-purple .shape-fill {
    fill: var(--purple);
}

.tsd-purple {
    background-color: var(--footer);
}