@font-face {
  font-family: Coming Sans;
  src: url("./assets/comingsans.ttf");
}

:root {
  --primary: #f8a5a8;
  --orange: #f7c78f;
  --yellow: #f7f3a8;
  --green: #a8f7b6;
  --blue: #8fdaf7;
  --purple: #f1b5f7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Patrick Hand", cursive;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}
